body {
  /*background-color: #02010a;*/
  background-color: lightgray;
}

.Contenido {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  background-color: magenta;
}

/* MENU BAR*/

.Menu-Bar {
  background-color: #5b7989;
  background-color: black;
  width: 100%;
  height: 90px;
  border-radius: 10px 10px 0px 0px;
  -moz-border-radius:10px 10px 0px 0px;
  -webkit-border-radius:10px 10px 0px 0px;
}

.Titular {
background-color: yellow;
width: 50%;
float: left;
}

nav {
  width: 50%;
  background-color: blue;
  float: right;
}

.Imagen-Central {
  background-color: #82c3a6;
  width: 96%;
  padding: 2%;
  margin: 0 auto;
}
.Catalogo-Home {
  width: 100%;
  max-width: 898px;
  background-color: #d5c75f;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  border: solid 1px black;
}

div [class*="Area"]{
  background-color: orange;
  min-width: 300px;
  max-width: 410px;
  width: 50vw;
  height: 30vh;
  transition: transform 1s;
  margin: 2%;
  margin-bottom: 60px;
  border: solid 1px black;
}

div [class*="-1"]:hover {
  transform: rotate(10deg);
  box-shadow: 0px 5px #888888;
  border: solid 2px black;
}
